body {
    text-align: left;
    height: 100vh;
}

.header {
    height: 50px;
    max-height: 50px;
    background-color: gray;
}

.container_chat {
    display: flex;
}

.chat_users{
    width: 200px;
    max-width: 200px;
    height: 80vh;
    overflow-y: auto;
    background-color: rgb(198, 161, 224);
    font-size: 40px;
}

.chat_message {
    background-color: lightcoral;
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    font-size: 70px;

}

.footer {
    height: 100px;
    background-color: lightsalmon;
}